.burger-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  background: url('https://images.unsplash.com/photo-1550547660-d9450f859349') center center / cover no-repeat;
  filter: brightness(15%);
  pointer-events: none;
}

.burger-bg-wrapper {
  position: relative;
  z-index: 1;
}
